<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
         "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="no" default-dependency-check="objects" default-lazy-init="true">

	<bean id="fop" class="pl.alios.utils.fop.FopPrinter">
		<constructor-arg index="0" value="aplikacja1/Allios/fop-config/fopUserConfig.xml"/>
		<constructor-arg index="1" value="aplikacja1/Allios/fop-config/inovice.xsl"/>
		<constructor-arg index="2" value="appservers/apache-tomcat-7.0.5/webapps/Allios/fop-config"/>
	</bean>

</beans>